/* h1 {
    color: orange; 
} */
body {
    background-color: rgb(162, 211, 253);
}
.main-container {
    text-align: center;
    padding: 3em;
}

.hide {
    display: none;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: #2196F3; */
    padding: 1em;
  }

  .grid-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    padding: 1em;
    font-size: 30px;
    text-align: center;
    max-width: 300px;
  }

  .grid-item img {
    max-width: 300px;
  }